/* #wcb.carbonbadge {
  display: inline;
  text-align: left;
} */
:root {
  --green: oklch(52.8% 0.224 146.12);
}

#wcb.carbonbadge {
  /* position: relative;
  top: 0.25rem; */
  margin: 1.75rem 0 3.5rem;
  width: fit-content;
  color: var(--black);
  padding: 5px 12px;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}

#wcb a {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}
